h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  scroll-margin: 5rem;
}
h2 {
  padding-bottom: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  scroll-margin: 5rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  scroll-margin: 5rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  scroll-margin: 5rem;
}
p {
  line-height: 1.75rem;
}
blockquote {
  padding-left: 1.5rem;
  margin-top: 1.5rem;
  border-left-width: 2px;
  font-style: italic;
}
ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  list-style-type: disc;
}
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  list-style-type: decimal;
}
a {
  font-weight: 500;
  color: #2563eb;
}
a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 1;
  }
}
